<mat-card class="project-card" [routerLink]="['/projects', project.slug]">
  <div class="card-image-container">
    <img 
      mat-card-image 
      [src]="getProjectImage()" 
      [alt]="project.title"
      class="card-image"
      (error)="onImageError($event)"
      loading="lazy">
    <div class="card-overlay">
      <button mat-icon-button class="view-button">
        <mat-icon>visibility</mat-icon>
      </button>
    </div>
  </div>

  <mat-card-content>
    <h3 class="project-title">{{ project.title }}</h3>
    <p class="project-description">{{ project.description }}</p>

    <div class="technologies">
      <mat-chip-set>
        <mat-chip *ngFor="let tech of project.technologies.slice(0, 4)">
          {{ tech }}
        </mat-chip>
      </mat-chip-set>
    </div>
  </mat-card-content>
</mat-card>
